jupyter

# FOR MAIN NOTEBOOK
# langchain
# langchain_openai
# langchain_core
# langchain_community
# langchain_cohere
# qdrant_client  
# ragas
# pandas
# rank_bm25

# # FOR RAGAS
langchain==0.2.16
langchain-cohere==0.3.0
langchain-community==0.2.17
langchain-core==0.2.41
langchain-experimental==0.3.2
langchain-huggingface==0.1.0
langchain-openai==0.1.25
langchain-qdrant==0.1.3
langchain-text-splitters==0.2.4
langgraph==0.2.16
langgraph-checkpoint==1.0.6
langsmith==0.1.129
ragas==0.1.20
